h1 {font-family:verdana;
    font-size:300%;
    color:blue;	
	}

body {
background-image:url("background2.jpg");
background-repeat:repeat-y;
}

h2,h3,h4,h5,h6 {
color:black;
font-size:150%;
background-color:#6495ed;
}
ul {list-style-type:square; }

#T1{
    border: 1px solid black;
    border-collapse: collapse;
    color:purple;
    background-color:#e0ffff;

}

#div2 {width:350px;
       height:70px;
       padding:10px;
       border:5px solid #aaaaaa;}

#form1{background-color:#6495ed; }

#para1{ background-color:#6495ed;
        border: 1px solid black;
 }
#demo {
       font-size:150%;
       background-color:#6495ed;
	}
#dragdrop{
font-size:100%;
background-color:#6495ed;
       }

dt.new{color:#e0ffff;}

.h{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.para2 {
border: 1px solid black;
border-collapse: collapse; 
background-color:#e0ffff;
}

.d {
    border: 1px solid black;
    border-collapse: collapse;    
    padding: 5px;
    }

.sem{  
font-size:150%;
color:#e0ffff;
}


